body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#2e856e;
    color: white;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation 
{ 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.login-frame {
    width:800px;
    font-size:12px;
    background: transparent;
    border-color: white;
    border-style: solid;
    color: white;
}

.main-frame {
    padding:50px;
}

.interior-frame {
    padding-top:50px;
    padding-bottom:50px;
    padding-left:100px;
    padding-right:100px;
}

.text-center {
    text-align: center;
}

.text-left {
    float: left;
}

.font-black {
    color: black;
}

.input {
    background-color: white;
    border-color: gray;
    color: black;
    height: 30px;
    width: 100%;
    clear: both;
    border-style: solid;
    padding-left: 5px;
}

.login-button {
    background-color: red;
    font-size:24px;
    width:200px;
    color: white;
    clear: both;
}

.login-label {
    font-size:14px;
    padding-bottom:10px;
}

.error {
    color:red;
    font-size:12px;
    padding-top:20px;
}

.login-label {
    font-weight: normal;
    color: gray;
}

.remove-bold {
    font-weight: normal;
}

a {
    color: red;
    font-weight: bold;
}

.font-white {
    color: white;
}

.font-gray {
    color: gray;
}

.font-red {
    color: red;
}