body 
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#000000;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.font-red {
    color: red;
}

.font-white {
    color: white;
}

.font-normal {
    font-weight: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
}

.grid-item {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.shadow {
    text-shadow: 2px 0px #FF0000;
}

.text-center
{
    float: center;
}

img {
    margin: auto;
    display: block;
}